{% load staticfiles %}
<script src="{% static 'js/accounts.js' %}"></script>
<script src="{% static 'js/filtercards.js' %}"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<div class="row">
  <div id="admin" class="col s12">
    <div class="card material-table">
      <div class="card-content">
        <div class="table-header">
          <h4>My Accounts</h4>
          <div class="actions">
            {% if accounts|length >= 1 %}
              <div id="filter_input" class="input-field">
                <select id="filter_list" class="col m12">
                  <option value="" disabled selected>Filter accounts</option>
                  <option value="all" id="button" class="filter" data-filter="all" role="button">All</option>
                  {% for account in accounts %}
                    <option value="{{ account }}" id="button" class="filter" data-filter="{{ account }}" role="button">{{ account }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}
            <!-- <a href="#"
              class="waves-effect waves-green accent-4 btn-flat green nopadding tooltipped btnAddAccounts"
              data-position="bottom" data-delay="50" data-tooltip="Add account">
              <i class="white-text material-icons">add</i>
            </a> -->
          </div>
        </div>
        <div class="row" id="sort-me">
          <div class="col s12 m6 l6">
            <a id="link-button">
              <div class="card small grey">
                <div class="card-content white-text">
                  <span class="card-title">Link New Account</span>
                  <p>Securely link your financial institutions here.
                    We use the latest standards of encryption,
                    and we will never store your credentials.
                    Your information is safe with us.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col s12 m6 l6">
            <div class="card small grey">
              <div class="card-content white-text">
                <span class="card-title">Accounts Overview</span>
                <p>
                  Accounts Linked: {{ accounts|length }}
                </p>
                <p>
                  Accounts Balance: ${{ balance|floatformat:2}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<span class="boxes">
{% for account, value in accounts.items %}
  <div class="row mix {{account}}"  data-category="{{ account }}">
    <div id="admin" class="col s12">
      <div class="card material-table">
        <div class="card-content">
          <div class="table-header">
            <h4>{{ account }}</h4>
            <div class="actions">
              <!-- <a href="#"
                class="waves-effect waves-green accent-4 btn-flat green nopadding tooltipped btnAddAccounts"
                data-position="bottom" data-delay="50" data-tooltip="Add account">
                <i class="white-text material-icons">add</i>
              </a> -->
            </div>
          </div>
          <div class="row boxes" id="sort-me">
            {% for a, val in value.items %}
              <div class="col s12 m6 l6">
                <div class="card small
                  {% if val.account_subtype == 'checking' %}
                    purple lighten-3
                  {% elif val.account_subtype == 'credit' %}
                    orange lighten-3
                  {% elif val.account_subtype == 'investment' %}
                    teal accent-3
                  {% elif val.account_subtype == 'savings' %}
                    light-blue lighten-3
                  {% elif val.account_subtype == 'loan' %}
                    pink lighten-3
                  {% elif val.account_subtype == 'cd' %}
                    pink lighten-3
                  {% endif %}">
                  <div class="card-content white-text">
                    <span class="card-title no_margin">
                      {{ val.name }}
                      {% if val.available_balance %}
                        <span class="right {% if val.available_balance < 0 %}red-text{% endif %}">${{ val.available_balance|floatformat:2 }}</span>
                      {% else %}
                        <span class="right {% if val.current_balance < 0 %}red-text{% endif %}">${{ val.current_balance|floatformat:2 }}</span>
                      {% endif %}
                    </span>
                    <span class="card_subtitle">
                      {{ val.account_subtype|capfirst }}
                      <span class="right">Balance</span>
                    </span>
                  </div>
                  <div class="card-action grey darken-3">
                    <a id='{{ val.id }}' class='btnEditAccount white-text'>
                      Edit Account
                    </a>
                    <a id='{{ val.id }}' class='btnConfirmAccount white-text'>
                      Remove Account
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</span>
<script type="text/javascript">
  var handler = Plaid.create({
    clientName: 'SimpliFi',
    env: 'sandbox',
    key: '4181b5e7e3476f2974824d3a1d4e52', // Replace with your public_key to test with live credentials
    product: ['auth', 'transactions'],
    // webhook: '[]', // Optional – use webhooks to get transaction and error updates
    selectAccount: false, // Optional – trigger the Select Account
    onLoad: function() {
    },
    onSuccess: function(public_token, metadata) {
      // Send the public_token to your app server.
      // The metadata object contains info about the institution the
      // user selected and the account ID, if `selectAccount` is enabled.
      // $.post('https://simplifiapi2.herokuapp.com/get_access_token', {
      //   public_token: public_token,
      // });
      $.ajax({
         type : "POST",
         url : "https://simplifiapi2.herokuapp.com/get_access_token",
         beforeSend: function(xhr){xhr.setRequestHeader('Authorization', '{{token}}');},
         data : {"public_token" : public_token},
         success : function(result) {
             //set your variable to the result
             window.location.replace('/budget/accounts/')
         },
         error : function(result) {
           //handle the error
         }
       });
    },
    onExit: function(err, metadata) {
      // The user exited the Link flow.
      if (err != null) {
        // The user encountered a Plaid API error prior to exiting.
      }
      // metadata contains information about the institution
      // that the user selected and the most recent API request IDs.
      // Storing this information can be helpful for support.
    }
  });

  $('#link-button').on('click', function(e) {
    handler.open();
    // Alternatively, you can have a specific institution
    // prompt for authentication. Example:
    //
    // handler.open('ins_100000');
    //
    // This will open Link with Union Bank as the institution.
  });
</script>
