{% load staticfiles %}
{% load material_form %}
<script src="{% static 'js/accounts.js' %}"></script>
<h5>Remove Account</h5>
<div class="row">
{% if account %}
  <p>
    Are you sure you want to remove <span class='red-text'>{{ account.name }}</span>?
    This will remove all history associated with this account. You may add it again later if you change your mind.
  </p>
</div>
<div class="modal-footer">
  <a id='{{ account.id }}' class="btnRemoveAccount waves-effect waves-red btn red">Remove Account</a>
</div>
{% else %}
  <p>
    It looks like that account doesn't exist. Please refresh the page and try again.
  </p>
</div>
{% endif %}
