<head>
  {% load staticfiles %}
  {% load material_form %}
  <script src="{% static 'js/accounts.js' %}"></script>
</head>
<div class="modal-content">
  <h4>Add Account</h4>
  <form id="AddAccountForm" method="POST" class="viewform">{% csrf_token %}
      {% form form=form %}
          {% part form.account_username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
          {% part form.account_password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
      {% endform %}
      <div class="modal-footer">
        <button type="submit" name="_submit" class="btn waves-effect waves-green btn green accent-4 btn-lg">Submit</button>
      </div>
  </form>
</div>
