<!doctype html>
<head>
  {% load staticfiles %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Django-Materialize -->
  {% include 'material/includes/material_css.html' %}
  <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
  {% include 'material/includes/material_js.html' %}
  <!-- Local JS -->
  <script src="{% static 'js/main_js.js' %}"></script>
  <!-- Local CSS -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- Materialize CSS -->
  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> -->
  <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> -->
</head>
<body>
  {% block header %}
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Settings</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'index' %}">Sign Out</a></li>
      </ul>
      <div class="navbar-fixed">
        <nav class="nav-extended">
          <div class="nav-wrapper blue darken-3">
            <a href="#!" class="brand-logo">SimpleBudget</a>
            <a href="#" data-activates="small-screen" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right">
              <li>
                <a href="{% url 'budget' %}">
                  <!-- <i class="material-icons">home</i> -->
                  Home
                </a>
              </li>
              <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                  <!-- <i class="material-icons">account_circle</i> -->
                  James
                </a>
              </li>
            </ul>
            <ul class="white_text side-nav blue" id="small-screen">
              <li><a href="{% url 'budget' %}">Progress</a></li>
              <li><a href="{% url 'envelopes' %}">Envelopes</a></li>
              <li><a href="{% url 'accounts' %}">Accounts</a></li>
              <li><a href="{% url 'goals' %}">Goals</a></li>
              <li><a href="{% url 'my_spending' %}">My Spending</a></li>
              <li><a href="{% url 'index' %}">Settings</a></li>
            </ul>
            <ul class="tabs tabs-transparent blue darken-3 white_text hide-on-med-and-down">
              <li class="tab"><a class="{% block progress_tab %}{% endblock %}" target="_blank" href="{% url 'budget' %}">Progress</a></li>
              <li class="tab"><a class="{% block envelopes_tab %}{% endblock %}" target="_blank" href="{% url 'envelopes' %}">Envelopes</a></li>
              <li class="tab"><a class="{% block accounts_tab %}{% endblock %}" target="_blank" href="{% url 'accounts' %}">Accounts</a></li>
              <li class="tab"><a class="{% block goals_tab %}{% endblock %}" target="_blank" href="{% url 'goals' %}">Goals</a></li>
              <li class="tab"><a class="{% block spending_tab %}{% endblock %}" target="_blank" href="{% url 'my_spending' %}">My Spending</a></li>
              <li class="tab"><a class="{% block settings_tab %}{% endblock %}" target="_blank" href="{% url 'budget' %}">Settings</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block modal %}
    <div id="modal" class="modal modal-fixed-footer">
      <span class="modal_container">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
      </span>
    </div>
  {% endblock %}
</body>
</html>
