{% extends "budget_base.html" %}
{% load material_form %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="row">
      <div class="col m6">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class = "col m1">
                <i class="material-icons medium">today</i>
              </div>
              <div class="col m10">
                <h5 class='center'>Current Month</h5>
              </div>
              <div class = "col m1"></div>
            </div>
            <div class="row">
              <div id="month"></div>
            </div>
          </div>
        </div>
      </div>

        <div class="col m6">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class ='col m1'>
                  <i class="material-icons medium">attach_money</i>
                </div>
                <div class='col m10'>
                  <h5 class='center'>Summary</h5>
                </div>
              </div>
              <div class="row">
                <div class="Information col m4">
                  <p>Total Assets:</p>
                  <br>
                  <p>Total Budget: </p>
                  <p>Total Expenditures: </p>
                  <hr>
                  <p>Amount Remaining:</p>
                </div>
                <div class="col m2"></div>
                <div class="col m2">
                  <p>$ {{total}}</p>
                  <br>
                  <p>$ {{budget_amount}}</p>
                  <p>$ {{budget_spent}}</p>
                  <hr>
                  <p>$ {{budget_difference}}</p>
                </div>
              </div>
              <div class="row">
                <div id="budget"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col m12">
            <div class="card">
              <div class="card-content">
              <div class="row">
                <div class="col m1"><i class="material-icons medium">mail</i></div>
                <div class="col m10"><h4 class="center">Envelopes</h4></div>
              </div>

              <!-- ROW ONE OF ENVELOPES -->
              <div class="row">
                <div class="col s12 m1 l1"></div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Food</strong></p>
                  <div id="food"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Home</strong></p>
                  <div id="home"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Entertainment</strong></p>
                  <div id="entertainment"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Shopping</strong></p>
                  <div id="shopping"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Subscriptions</strong></p>
                  <div id="subscriptions"></div>
                </div>
              </div>

              <!-- ROW TWO OF ENVELOPES -->
              <div class="row">
                <div class="col s12 m1 l1"></div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Travel</strong></p>
                  <div id="travel"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Insurance</strong></p>
                  <div id="insurance"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Health</strong></p>
                  <div id="health"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Education</strong></p>
                  <div id="education"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Payments</strong></p>
                  <div id="payments"></div>
                </div>
              </div>

              <!-- ROW THREE OF ENVELOPES -->
              <div class="row">
                <div class="col s12 m1 l1"></div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Dontations</strong></p>
                  <div id="donations"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Fees</strong></p>
                  <div id="fees"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Miscellaneous</strong></p>
                  <div id="miscellaneous"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Professional Services</strong></p>
                  <div id="professional"></div>
                </div>
                <div class="col s12 m2 l2">
                  <p class='center'><strong>Other</strong></p>
                  <div id="other"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  var month = c3.generate({
      bindto: '#month',
      data: {
          columns: [
            {{ doughnutData.0|safe }} ,
            {{ doughnutData.1|safe }} ,
            {{ doughnutData.2|safe }},
            {{ doughnutData.3|safe }},
            {{ doughnutData.4|safe }},
            {{ doughnutData.5|safe }},
            {{ doughnutData.6|safe }},
            {{ doughnutData.7|safe }},
            {{ doughnutData.8|safe }},
            {{ doughnutData.9|safe }},
            {{ doughnutData.10|safe }},
            {{ doughnutData.11|safe }},
            {{ doughnutData.12|safe }},
            {{ doughnutData.13|safe }},
            {{ doughnutData.14|safe }}
          ],
          type : 'donut',
      },
      donut: {
          title: "Budget Expenditures"
      },
      legend: {
        position: 'right'
    }
  });

  var budget = c3.generate({
      bindto: '#budget',
      data: {
          columns: [
            ['Budget Amount', {{budget_amount}}],
            ['Budget Spent', {{budget_spent}}],
          ],
          type: 'bar',
          colors: {
            "Budget Amount": '#b5b6b7',
            "Budget Spent": '#d62728'
          },
          groups: [
            ['Budget Amount', 'Budget Spent']
          ],
          labels: {
            position: 'inner-center',
            format: {
              "Budget Amount": d3.format('$'),
              "Budget Spent": d3.format('$')
            }
          }
        },
          legend: {show: false},
          order: null,
          grid: {
            y: {
              lines: [{value:0}]
            }
          },
          axis: {
            rotated: true,
            y: {show: false},
            x: {show: false}
          },
          size: {
            height: 80
          },
          tooltip: {show: false},
          grid: {
            y: {show: false}
          }
  });
// Row 1
  var food = c3.generate({
      bindto: '#food',
      data: {
          columns: [
              ['Food', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {
              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      food.load({
          columns: [ {{envelopes_data.4|safe}} ]
      });
  }, 1000);

  var home = c3.generate({
      bindto: '#home',
      data: {
          columns: [
              ['Home', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
        pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
        threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      home.load({
          columns: [ {{envelopes_data.6|safe}} ]
      });
  }, 1500);

  var entertainment = c3.generate({
      bindto: '#entertainment',
      data: {
          columns: [
              ['Entertainment', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {
              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      entertainment.load({
          columns: [ {{envelopes_data.2|safe}} ]
      });
  }, 2000);

  var shopping = c3.generate({
      bindto: '#shopping',
      data: {
          columns: [
              ['Shopping', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {
              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      shopping.load({
          columns: [ {{envelopes_data.11|safe}} ]
      });
  }, 2500);

  var subscriptions = c3.generate({
      bindto: '#subscriptions',
      data: {
          columns: [
              ['Subscriptions', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      subscriptions.load({
          columns: [ {{envelopes_data.12|safe}} ]
      });
  }, 3000);

// Row 2
  var travel = c3.generate({
      bindto: '#travel',
      data: {
          columns: [
              ['Travel', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      travel.load({
          columns: [ {{envelopes_data.13|safe}} ]
      });
  }, 1000);

  var insurance = c3.generate({
      bindto: '#insurance',
      data: {
          columns: [
              ['Insurance', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      insurance.load({
          columns: [ {{envelopes_data.7|safe}} ]
      });
  }, 1500);

  var health = c3.generate({
      bindto: '#health',
      data: {
          columns: [
              ['Health', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      health.load({
          columns: [ {{envelopes_data.5|safe}} ]
      });
  }, 2000);

  var education = c3.generate({
      bindto: '#education',
      data: {
          columns: [
              ['Education', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      education.load({
          columns: [ {{envelopes_data.1|safe}} ]
      });
  }, 2500);

  var payments = c3.generate({
      bindto: '#payments',
      data: {
          columns: [
              ['Payments', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      payments.load({
          columns: [ {{envelopes_data.8|safe}} ]
      });
  }, 3000);

// Row 3
  var donations = c3.generate({
      bindto: '#donations',
      data: {
          columns: [
              ['Donations', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      donations.load({
          columns: [ {{envelopes_data.0|safe}} ]
      });
  }, 1000);

  var fees = c3.generate({
      bindto: '#fees',
      data: {
          columns: [
              ['Fees', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      fees.load({
          columns: [ {{envelopes_data.3|safe}} ]
      });
  }, 1500);

  var miscellaneous = c3.generate({
      bindto: '#miscellaneous',
      data: {
          columns: [
              ['Miscellaneous', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      miscellaneous.load({
          columns: [ {{envelopes_data.10|safe}} ]
      });
  }, 2000);

  var professional = c3.generate({
      bindto: '#professional',
      data: {
          columns: [
              ['Professional Services', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      professional.load({
          columns: [ {{envelopes_data.9|safe}} ]
      });
  }, 2500);

  var other = c3.generate({
      bindto: '#other',
      data: {
          columns: [
              ['Other', 0]
          ],
          type: 'gauge',
      },
      gauge: {

      },
      color: {
          pattern: [ '#00c853', '#F6C600', '#F97600', '#d62728' ], // the three color levels for the percentage values.
          threshold: {

              values: [30, 60, 90, 100]
          }
      },
      size: {
          height: 100
      }
  });

  setTimeout(function() {
      other.load({
          columns: [['Other', 46]]
      });
  }, 3000);
</script>
{% endblock %}
