<!doctype html>
<head>
  {% load staticfiles %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Django-Materialize -->
  {% include 'material/includes/material_css.html' %}
  <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
  {% include 'material/includes/material_js.html' %}
  <!-- Local JS -->
  <script src="{% static 'js/main_js.js' %}"></script>
  <!-- Local CSS -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- Materialize CSS -->
  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> -->
  <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> -->
  {% block extrajs %}
  {% endblock %}
</head>
<body>
  {% block header %}
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Settings</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'index' %}">Sign Out</a></li>
      </ul>
      <div class="navbar-fixed">
        <nav class="nav-extended">
          <div class="nav-wrapper blue darken-3">
            <a href="{% url 'budget' %}" class="brand-logo">SimpliFi</a>
            <a href="#" data-activates="small-screen" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right">
              <li>
                <!-- <div><a href="#!" class="secondary-content"><i class="material-icons">home</i></a>Home</div> -->
                <a href="{% url 'budget' %}">
                  <i class="material-icons left">home</i>
                  Home
                </a>
              </li>
              <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                  <i class="material-icons left">account_circle</i>
                  James
                </a>
              </li>
            </ul>
            <ul class="white_text side-nav blue" id="small-screen">
              <li class=""><a href="{% url 'budget' %}">
                <i class="material-icons left">assessment</i>
                Progress</a>
              </li>
              <li><a href="{% url 'envelopes' %}">
                <i class="material-icons left">email</i>
                Envelopes</a>
              </li>
              <li><a href="{% url 'accounts' %}">
                <i class="material-icons left">account_balance</i>
                Accounts</a>
              </li>
              <li><a href="{% url 'goals' %}">
                <i class="material-icons left">assignment_turned_in</i>
                Goals</a>
              </li>
              <li><a href="{% url 'my_spending' %}">
                <i class="material-icons left">credit_card</i>
                My Spending</a>
              </li>
              <li><a href="{% url 'index' %}">
                <i class="material-icons left">settings</i>
                Settings</a>
              </li>
            </ul>
            <ul class="tabs tabs-transparent blue darken-3 white_text hide-on-med-and-down">
              <li class="tab">
                <a class="{% block progress_tab %}{% endblock %}" target="_self" href="{% url 'budget' %}">Progress</a>
              </li>
              <li class="tab"><a class="{% block envelopes_tab %}{% endblock %}" target="_self" href="{% url 'envelopes' %}">Envelopes</a></li>
              <li class="tab"><a class="{% block accounts_tab %}{% endblock %}" target="_self" href="{% url 'accounts' %}">Accounts</a></li>
              <li class="tab"><a class="{% block goals_tab %}{% endblock %}" target="_self" href="{% url 'goals' %}">Goals</a></li>
              <li class="tab"><a class="{% block spending_tab %}{% endblock %}" target="_self" href="{% url 'my_spending' %}">My Spending</a></li>
              <li class="tab"><a class="{% block settings_tab %}{% endblock %}" target="_self" href="{% url 'settings' %}">Settings</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- TODO: actually fix this problem :: Temp fix -->
    <div class="hide-on-med-and-down temp_fix">
    </div>
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block modal %}
    <div id="modal" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  {% endblock %}
</body>
</html>
