{% extends "budget_base.html" %}
{% load staticfiles %}
{% block extrajs %}
  <script src="{% static 'js/goals.js' %}"></script>
{% endblock %}
{% load material_form %}
{% block goals_tab %}active{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col m12">
        <div class="card">
          <div class="card-content">
            <h4>Goals</h4>
            <div class="row">
              {% if goal_count > 0 %}
                <p>
                  You have {{ goal_count }} goals created!
                </p>
                <h5>Checking</h5>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for goal in goals %}
                      <tr>
                        <td>{{ goal.goal_name }}</td>
                        <td>{{ goal.amount }}</td>
                        <td>{{ goal.goal_date }}</td>
                        <td>
                          <a id='{{ goal.id }}' class='btnEditGoal tooltipped' data-position="bottom"
                            data-delay="50" data-tooltip="Edit">
                            <i class='material-icons yellow-text darken-2'>mode_edit</i>
                          </a>
                          <a id='{{ goal.id }}' class='btnConfirmGoal tooltipped' data-position="bottom"
                            data-delay="50" data-tooltip="Delete">
                            <i class='material-icons red-text'>delete</i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
                  <p>
                    Get started and create a goal!
                  </p>
                  <a class="btnAddGoals green btn">Add Goal</a>
              {% endif %}
              <i class="material-icons large">insert_chart</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ACTION BUTTON -->
  <div class="fixed-action-btn left">
    <a class="btn-floating btn-large orange tooltipped" data-position="left"
    data-delay="50" data-tooltip="Edit goals">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating green tooltipped" id="btnAddGoals" data-position="left"
          data-delay="50" data-tooltip="Add goals"
          href="">
          <i class="material-icons">add</i>
        </a>
      </li>
      <li>
        <a class="btn-floating red tooltipped btnRemoveGoals" id="" data-position="left"
          data-delay="50" data-tooltip="Remove goals"
          href="">
          <i class="material-icons">delete</i>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
