{% load staticfiles %}
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/transactions.js' %}"></script>
<script src="{% static 'js/materialsort.js' %}"></script>

<table id="datatable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Account</th>
      <th>Category</th>
      <th>Amount</th>
      <th class="no_sort">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.clean_trans_date }}</td>
        <td>{{ transaction.name }}</td>
        <td>{{ transaction.account_id }}</td>
        <td>{{ transaction.category_id }}</td>
        <td>${{ transaction.amount|floatformat:2 }}</td>
        <td>
          <a id='{{ transaction.id }}' class='btnEditTransactions tooltipped btn-flat nopadding' data-position="bottom"
            data-delay="50" data-tooltip="Edit">
            <i class='material-icons yellow-text darken-4'>mode_edit</i>
          </a>
          <a id='{{ transaction.id }}' class='btnConfirm tooltipped btn-flat nopadding' data-position="bottom"
            data-delay="50" data-tooltip="Delete">
            <i class='material-icons red-text'>delete</i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
