{% extends "budget_base.html" %}
{% load staticfiles %}
{% block extrajs %}
  <script src="{% static 'js/transactions.js' %}"></script>
  <!-- <script src="{% static 'js/sorttable.js' %}"></script> -->
  <script src="{% static 'js/materialsort.js' %}"></script>
{% endblock %}
{% load material_form %}
{% block title %}Transactions{% endblock %}
{% block content %}
  <div class="row">
    <div id="admin" class="col s12">
      <div class="card material-table">
        <div class="card-content">
          <div class="table-header">
            <h4>My Spending</h4>
            <!-- <span class="table-title">My Spending</span> -->
            <div class="actions">
              <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
            </div>
          </div>
          <table id="datatable">
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Long Description</th>
                <th>Account</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
                <tr>
                  <td>{{ transaction.date }}</td>
                  <td>{{ transaction.description }}</td>
                  <td>{{ transaction.original_description }}</td>
                  <td>{{ transaction.account.account_name }}</td>
                  <td>{{ transaction.category }}</td>
                  <td>{{ transaction.amount }}</td>
                  <td>
                    <a id='{{ transaction.id }}' class='btnEditTransactions tooltipped' data-position="bottom"
                      data-delay="50" data-tooltip="Edit">
                      <i class='material-icons yellow-text darken-2'>mode_edit</i>
                    </a>
                    <a id='{{ transaction.id }}' class='btnConfirm tooltipped' data-position="bottom"
                      data-delay="50" data-tooltip="Delete">
                      <i class='material-icons red-text'>delete</i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- ACTION BUTTON -->
  <div class="fixed-action-btn left">
    <a class="btn-floating btn-large orange tooltipped" data-position="left"
    data-delay="50" data-tooltip="Manage transactions">
      <i class="large material-icons">build</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating green tooltipped" id="btnAddTransactions" data-position="left"
          data-delay="50" data-tooltip="Add transactions"
          href="{% url 'transactions_add' %}">
          <i class="material-icons">add</i>
        </a>
      </li>
      <li>
        <a class="btn-floating red tooltipped" id="btnbtnRemoveAccounts" data-position="left"
          data-delay="50" data-tooltip="Remove transactions"
          href="">
          <i class="material-icons">delete</i>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
