<!doctype html>
<head>
  {% load staticfiles %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Django-Materialize -->
  {% include 'material/includes/material_css.html' %}
  <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
  {% include 'material/includes/material_js.html' %}
  <!-- Local JS -->
  <script src="{% static 'js/main_js.js' %}"></script>
  <!-- Local CSS -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  <!-- Materialize CSS -->
  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> -->
  <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script> -->
</head>
<body>
  {% block header %}
    <header>
      <nav>
        <div class="nav-wrapper blue darken-3">
          <a href="#!" class="brand-logo">SimpliFi</a>
          <a href="#" data-activates="small-screen" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <!-- <li class="{% block class_tab_home %}{% endblock %}"><a class="active" href="{% url 'index' %}">Home</a></li> -->
            {% if request.user.is_authenticated %}
              <li class=""><a href="#" class="">Welcome, {{ request.user.first_name }}</a></li>
            {% else %}
              <li class="{% block class_tab_dashboards %}{% endblock %}"><a href="{% url 'sign_up' %}" class="btnSignUp">Sign Up</a></li>
              <li class="{% block class_tab_project %}{% endblock %}"><a href="{% url 'sign_up' %}" class="btnSignIn">Sign In</a></li>
            {% endif %}
          </ul>
          <ul class="white_text side-nav blue" id="small-screen">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'sign_up' %}" class="btnSignUp">Sign Up</a></li>
            <li><a href="{% url 'sign_up' %}" class="btnSignIn">Sign In</a></li>
          </ul>
        </div>
      </nav>
    </header>
  {% endblock %}
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/lady_mac1.jpg' %}"></div>
  </div>
  {% block content %}
  {% endblock %}

  {% block modal %}
    <div id="modal" class="modal">
      <span class="modal_container">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
      </span>
    </div>
  {% endblock %}
</body>
</html>
