{% extends "base.html" %}
{% load material_form %}
{% block class_tab_home %}active{% endblock %}
{% block content %}
{% load staticfiles %}

  <!-- First Section -->
  <div class="section green lighten-5">
    <div class="row container">
      <h4>Security</h4>
      <div class="row">
        <div class="col s12 m6 l6 center-align">
          <i class="material-icons medium">account_balance</i>
          <p>Securely connect your acounts</p>
        </div>
        <div class="col s12 m6 l6 center-align">
          <p>Pull in all your transactions using a PLAID api which uses the latest encrytion methods to ensure your data is secure.</p>
        </div>
      </div>
      <div class="center">
        <a href="{% url 'sign_up' %}" class="btnSignUp waves-effect waves-blue btn green">Sign Up Now</a>
      </div>
    </div>
  </div>

  <!-- Second Section -->
  <div class="section" id='gradient'>
    <div class="row container">
      <h4>Goals</h4>
      <div class="row">
        <div class="col s12 m6 m6 center-align">
          <p>Ipsum Dolorum and lots of other latiny words will fill this in so that it will look better and be more like what we actually will look like :)</p>
        </div>
        <div class="col s12 m6 l6 center-align">
          <i class="material-icons medium">create</i>
          <p>Create goals</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Picture -->
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/work_table.jpg' %}"></div>
  </div>

  <!-- Third Section -->
  <div class="section green lighten-5">
    <div class="row container">
      <h4>Progress</h4>
      <div class="row">
        <div class="col s12 m6 l6 center-align">
          <p>Earn badges and watch your funds increase as you save money and work towards your goals</p>
        </div>
        <div class="col s12 m6 l6 center-align">
          <i class="material-icons medium">check_circle</i>
          <p>Keep your goals</p>
        </div>
      </div>
      <div class="center">
        <a href="{% url 'sign_up' %}" class="btnSignUp waves-effect waves-blue btn green">Sign Up Now</a>
      </div>
    </div>
  </div>
  <!-- Footer Section -->
  <div class="section grey darken-3">
    <div class="row container">
      <div class="col s12 m12 l12 center-align">

        <p class='white-text'>Download the mobile app!</p>

      </div>
      <div class="center">
        <a href=""><img style='height:50px; width:150px'src='{% static 'imgs/apple-button.png' %}'/><a/>
      </div>
      <div class="col s12 m12 l12 center-align" style='margin-bottom:-30px'>
        <p class='white-text'>Copyright &copy; 2017 SimpliFi, LLC. All rights reserved.</p>
      </div>
    </div>
  </div>
{% endblock %}
