<head>
  {% load staticfiles %}
  {% load material_form %}
  <script src="{% static 'js/main_js.js' %}"></script>
</head>
<div class="modal-content">
  <h4>Sign In</h4>
  <form id="LoginForm" method="POST" class="viewform">{% csrf_token %}
      {% form %}
          {% part form.email prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
          {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
      {% endform %}
      <div class="modal-footer">
        <button type="submit" name="_submit" class="btn waves-effect waves-blue btn blue btn-lg">Submit</button>
      </div>
  </form>
</div>
